{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div style="color: red" class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <hr class="col-12">
        <h2 class="col-12">Proverbe du jour :</h2>
        <p class="col-12">{{ project_name }}</p>
        <hr class="col-12">
        <h2 class="col-12">Your Products :</h2>
        <table class="table col-12">
            <tr>
                <th>Name</th>
                <th>Release On</th>
                <th>Action</th>
            </tr>
            {% for product in products %}
                <tr style="{{ product.allowed == false ? 'background-color: lightpink' : '' }}">
                    <td><a href="{{ url("product.show", {"product":product.id}) }}">{{ product.name }}</a></td>
                    <td>{{ product.releaseOn|date }}</td>
                    <td>
                        <a href="{{ url("product.show", {"product":product.id}) }}">Show</a> |
                        <a href="{{ url("product.update", {"product":product.id}) }}">Update</a> |
                        <a href="{{ url("product.updatePic", {"product":product.id}) }}">Change Picture</a> |
                        <a onclick="return confirm('are you sure?');" href="{{ url("product.delete", {"product":product.id}) }}">Delete</a>
                        {% if product.allowed == false %}
                            <br>
                            <span style="font-weight: bold; color: darkred">Product Moderate ! Please contact us for more details</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No content available</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}