{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-3" style="text-align: right">
                {{ form_label(form.name) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.name) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.releaseOn) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.releaseOn) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.description) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.description) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.pictureName) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.pictureName) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.localisation) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.localisation) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.category) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.category) }}
            </div>
            <div class="col-3" style="text-align: right">
                {{ form_label(form.otherDetails) }}
            </div>
            <div class="col-9">
                {{ form_widget(form.otherDetails) }}
            </div>
        </div>
        {{ form_end(form) }}
        {#{{ dump(result) }}#}
    </div>

    {#{{ form_row(form.name) }}#}
    {#{{ form_row(form.releaseOn) }}#}

{% endblock %}