{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div style="color: red" class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="table col-12">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Release On</th>
                    <th>Action</th>
                </tr>
                {% for product in products %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <tr style="{{ product.allowed == false ? 'background-color: lightpink' : '' }}">
                            <td><a href="{{ url("product.show", {"product":product.id}) }}">{{ product.name }}</a></td>
                            <td><a href="{{ url("user.show", {"user":product.userId.id}) }}">{{ product.userId.firstname }} {{ product.userId.lastname }}</a></td>
                            <td>{{ product.releaseOn|date }}</td>
                            <td>
                                <a href="{{ url("product.show", {"product":product.id}) }}">Show</a>
                                <span> | </span>
                                <a href="{{ url("product.update", {"product":product.id}) }}">Update</a> |
                                <a href="{{ url("product.updatePic", {"product":product.id}) }}">Change Picture</a> |
                                <a onclick="return confirm('are you sure?');" href="{{ url("product.delete", {"product":product.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% elseif product.allowed %}
                        <tr>
                            <td><a href="{{ url("product.show", {"product":product.id}) }}">{{ product.name }}</a></td>
                            <td><a href="{{ url("user.show", {"user":product.userId.id}) }}">{{ product.userId.firstname }} {{ product.userId.lastname }}</a></td>
                            <td>{{ product.releaseOn|date }}</td>
                            <td>
                                <a href="{{ url("product.show", {"product":product.id}) }}">Show</a>
                                {% if product.userId == user %}
                                    <span> | </span>
                                    <a href="{{ url("product.update", {"product":product.id}) }}">Update</a> |
                                    <a href="{{ url("product.updatePic", {"product":product.id}) }}">Change Picture</a> |
                                    <a onclick="return confirm('are you sure?');" href="{{ url("product.delete", {"product":product.id}) }}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="3">No content available</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}